.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
docs/docs
docs/.vitepress/dist
docs/.vitepress/cache
docs/.temp
docs/node_modules
